name: CI-CD 

on: 
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest 
    steps: 
      - name: Autenticar no Docker Hub
        run: echo "Executando o comando docker login"
      - name: Construção da imagem
        run: echo "Executando o comando docker build"
      - name: Envio da imagem Docker
        run: echo "Executando o comando docker push"

  cd:
     runs-on: ubuntu-latest 
     needs: [ci]
     steps: 
      - name: Autenticar na AWS
        run: echo "Executando o comando AWS configure"
      - name: Configurar o kubectl
        run: echo "Executando o comando aws eks update-kubeconfig"
      - name: Deploy dos manifestos no kubernetes
        run: echo "Executando o comando kubectl apply"
    
